/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-image: var(
    --page-background-image,
    url("../images/cover-image.png")
  );
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--page-background-color, #000028);
  color: var(--text-color, #f1b2ce);
  font-family: var(--page-font-family, "IBM Plex mono", monospace);
  font-size: 18px;
  line-height: 23.4px;
}

/* Menu */

.header {
  display: grid;
  align-items: start;
  padding: clamp(10px, 0.0286rem + 2.5445vw, 20px);
  min-height: 668px;
  height: 100vh;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  z-index: -1;
}

.decorated-zone::before {
  border-inline-end: 1px solid var(--secondary-color, #ff0070);
  border-block-start: 1px solid var(--secondary-color, #ff0070);
  inset-inline-end: clamp(10px, 0.0286rem + 2.5445vw, 20px);
  inset-block-start: clamp(10px, 0.0286rem + 2.5445vw, 20px);
}

.decorated-zone::after {
  border-inline-start: 1px solid var(--secondary-color, #ff0070);
  border-block-end: 1px solid var(--secondary-color, #ff0070);
  inset-inline-start: clamp(10px, 0.0286rem + 2.5445vw, 20px);
  inset-block-end: clamp(10px, 0.0286rem + 2.5445vw, 20px);
}

.decor {
  display: inline-flex;
  position: absolute;
  gap: 10px;
  visibility: var(--visible-decor-visibility, visible);
  align-items: center;
  inset-inline-end: 20px;
  inset-block-start: 11px;
  z-index: -1;
}

.decor::before {
  content: "REC";
  color: var(--accent-color, #ff0070);
  line-height: 24px;
}

.decor::after {
  content: "";
  display: inline-block;
  border-radius: 50%;
  box-shadow: 0 0 2px 2px var(--accent-color, #ff0070);
  background: var(--accent-color, #ff0070);
  inline-size: 9px;
  block-size: 9px;
}

.header__theme-menu {
  justify-self: end;
  margin-block: 65px 15px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 12.5px;
}

.header__theme-menu-button {
  border: 1px solid transparent;
  padding: 1.5px 13px;
  color: var(--secondary-color, #ff0070);
  background: transparent;
  text-transform: lowercase;
  cursor: pointer;
  line-height: 18px;
}

.header__theme-menu-button:focus-visible {
  border-block-end-color: currentColor;
}

.header__theme-menu-button:hover {
  border-color: var(--secondary-color-ff, #ff007040);
}

.header__theme-menu-button:focus {
  outline: 0;
}

.header__theme-menu-button_active {
  border-color: currentColor;
  cursor: default;
  pointer-events: none;
}

.header__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  color: var(--brand-color, #db00ff);
  line-height: 83%;
  text-shadow: 4px 4px 0 var(--accent-color, #ff0070);
}

.header__description {
  font-size: inherit;
  line-height: inherit;
  font-weight: 700;
  background-color: var(--accent-color, #ff0070);
  color: var(--highlight-color);
}

.header__line-break {
  display: block;
}

/*Main*/

.main {
  display: grid;
  gap: 50px;
  padding: 41px 10px;
}

.container {
  display: grid;
  gap: 21px;
}

.list {
  display: grid;
  gap: 20.5px;
}

.title {
  font-weight: 700;
  font-size: inherit;
  line-height: inherit;
  color: var(--secondary-color, #ff0070);
}

.title-article {
  font-size: inherit;
  line-height: inherit;
  font-weight: 700;
  color: var(--highlight-color, #000028);
  background-color: var(--accent-color, #ff0070);
}

.article {
  display: grid;
  gap: 9px;
}

.main__info-section-article-now-title {
  margin-block-end: 10px;
}

/* Gallery */

.main__gallery-img {
  display: block;
  object-fit: cover;
  object-position: center;
  block-size: 100%;
  inline-size: 100%;
}

.main__gallery-title {
  margin-bottom: 9px;
}

.main__gallery-list {
  display: grid;
  gap: 11.5px;
}

.link {
  text-shadow: 2px 1px 0 var(--accent-color, #ff0070);
  text-decoration: none;
}

.link:focus {
  outline: none;
}

.link:focus-visible {
  outline: 1px solid currentColor;
}

.link:hover {
  border-bottom: 1px solid currentColor;
  cursor: pointer;
}

/* footer */

.footer {
  justify-content: center;
  align-items: center;
  min-height: 668px;
  height: 100vh;
}

.footer__title {
  color: var(--brand-color, #db00ff);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  text-shadow: 4px 4px 0 var(--accent-color, #ff0070);
}

.shadow {
  margin-right: 4px;
  display: grid;
  padding: clamp(10px, 0.0286rem + 2.5445vw, 20px);
}

@media (width >= 768px) {
  .main {
    padding: 60px 20px;
    gap: 81px;
  }

  .main__container {
    gap: 20px;
  }

  .header {
    padding-inline-start: 0;
    min-height: 768px;
    height: 100vh;
  }

  .header__theme-menu {
    margin-block-start: 172px;
    margin-block-end: 18px;
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__description {
    justify-self: end;
    inline-size: clamp(364px, calc(100% / 2 - 10px), 491px);
  }

  .decor {
    inset-inline-end: 28px;
    inset-block-start: 20px;
  }

  .page-title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .container {
    grid-template-columns: clamp(236px, calc(100% / 3.25), 315px) 1fr;
  }

  .main__info-list {
    grid-column-start: span 2;
  }

  .main__gallery {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .main__gallery-title {
    margin-bottom: 20px;
  }

  .main__gallery-list {
    grid-template-columns: repeat(3, 1fr);
    gap: 20.9px;
  }

  .main__gallery-item:first-child,
  .main__gallery-item:last-child {
    grid-column-start: span 2;
  }

  .main__gallery-item:nth-child(2),
  .main__gallery-item:nth-child(3) {
    grid-row-start: span 2;
  }
}

@media (width >= 1024px) {
  .main {
    padding: 60px 20px;
    gap: 81px;
  }

  .header {
    padding-inline-start: 0;
    min-height: 668px;
    height: 100vh;
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .page-title {
    text-shadow: 4px 4px 0 var(--color-purple-page, #ff0070);
  }

  .container {
    column-gap: 30px;
  }

  .main__info-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .header__theme-menu {
    margin-inline-start: 20px;
    margin-block-start: 0;
    margin-block-end: 161px;
    justify-self: center;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .footer {
    min-height: 668px;
    height: 100vh;
  }

  .footer__title {
    font-size: clamp(7.25rem, 7.0115rem + 4.0178vw, 10.5rem);
  }
}
